<img src = "<%=@profile.profile_picture%>">

<h1><%=@profile.username%></h1>
<p><%=@profile.joined_on%></p>

<p><%=@profile.followers%> Followers</p>
<p><%=@profile.starred%> Starred</p>
<p><%=@profile.following%> Following</p>

<%@profile.organization_data.each do |org|%>
  <img src = "<%=org["avatar_url"]%>">
<%end%>


<%@profile.sorted_repo_list.each do |repo|%>
  <h3><%=repo["name"]%></h3>
  <p>Updated <%=time_ago_in_words(repo["updated_at"])%> ago</p>

<%end%>
