<img src = "<%=@profile.profile_picture%>">

<h1><%=@profile.username%></h1>
<p><%=@profile.joined_on%></p>

<p><%=@profile.followers%> Followers</p>
<p><%=@profile.starred%> Starred</p>
<p><%=@profile.following%> Following</p>

<%@profile.organizations.each do |url|%>
  <img src = "<%=url%>">
<%end%>

<%@profile.repository_names.each do |name|%>
<h3><%=name%></h3>
<p>Updated at</p>

<%end%>
